 body {
      margin: 0;
      /* Margin means website ki border hum kaise code kar rahe hai */
      font-family: Arial, Helvetica, sans-serif;
       /* Font family means hum kaunse type ke fonts use kar rahe hai apne website ke liye */
    }

    .Movies {
      opacity: 0.65;
    }
    
    .topnav {
      overflow: hidden;
      /* Overflow means jabh hum kaafi data 1 particular shirt space pr [like any box] rakhte hai toh hume scroll ki need hoti hai tabh hum overflow ka use karte hai */
      background-color: #047baa;
      /* Background color means hamari website ka background kaisa hona chahiye hum "bacxkground-color" ki help se set kar sakte hai */ 
      font-size: 20px;
    }
    
    .topnav a {
      float: left;
      /* Hamari webstie ka data kaunse side main rehna chahiye [eg: left, right, centre, etc] hum "float:" use karke set kar sakte hai */
      display: block;
      /* Text data ya phir koi image kaise behave karna chahiye like [ line ke andar,hidden ya phir sabh show ho jaaye] hum "display:" ki help se set krar sakte hai */
      color: #f2f2f2;
      /* Hume hamare data ka colour kya set karna hai hum "color:" ki help se set kar sakte hai */
      text-align: center;
      /* Yeh set karta hai ki inline data right,left ya centre main hona chahiye */
      padding: 14px 16px;
      /* Yeh set karta hai ki text content and website ke border ke beech main kitna difference rakhna hai */
      text-decoration: none;
      /* Text data ke andar hume agar extra decorations karni hai toh hum "text-decoration:" ka use karke decoratons kar sakte hai */
      font-size: 1em;
      /* text data ka size kitna hona chahiye, hum "font-size" ka use karke set kar sakte hai */
    }
    
    .topnav a:hover {
      background-color: #ddd;
      /* Background color means hamari website ka background kaisa hona chahiye hum "bacxkground-color" ki help se set kar sakte hai */ 
      color: black;
      /* Hume hamare data ka colour kya set karna hai hum "color:" ki help se set kar sakte hai */
    }
    
    .topnav a.active {
      background-color: white;
      /* Background color means hamari website ka background kaisa hona chahiye hum "bacxkground-color" ki help se set kar sakte hai */ 
      color: black;
      /* Hume hamare data ka colour kya set karna hai hum "color:" ki help se set kar sakte hai */
    }
    
    .topnav .icon {
      display: none;
      /* Text data ya phir koi image kaise behave karna chahiye like [ line ke andar,hidden ya phir sabh show ho jaaye] hum "display:" ki help se set krar sakte hai */
    }

    @media screen and (max-width: 600px) {
        .blue_mobile {
            background-color:#047baa;
            font-display: white;
        }

        .font_heading_mobile {
          font-size: 10em;
          font-size: 20px;
        }
    }

    .center-align {
      text-align: center;
      text-size-adjust: 4em;
      
    }
    
    @media screen and (max-width: 600px) {
      .topnav a:not(:first-child) {display: none;}
      .topnav a.icon {
        float: right;
        display: block;
      }
    }
    
    @media screen and (max-width: 600px) {
      .topnav.responsive {position: relative;}
      .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
      }
      .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
      }
    }

    body {
        font-family: "Lato", sans-serif;
      }
      
      .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
      }
      
      .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
      }
      
      .sidenav a:hover {
        color: #f1f1f1;
      }
      
      .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
      }

      @media screen and (max-height: 450px) {
        .sidenav {padding-top: 15px;}
        .sidenav a {font-size: 18px;}
      }

      /*SLIDESHOW CODE*/
      * {box-sizing: border-box;}
      body {font-family: "Trebuchet MS", Helvetica, sans-serif;}
      .mySlides {display: none;}
      img {vertical-align: middle;}
      
      /* Slideshow container */
      .slideshow-container {
        max-width: 1000px;
        position: relative;
        margin: auto;
      }
      
      /* Caption text */
      .text {
        color: #f2f2f2;
        font-size: 15px;
        padding: 8px 12px;
        position: absolute;
        bottom: 8px;
        width: 100%;
        text-align: center;
      }
      
      /* Number text (1/6 etc) */
      .numbertext {
        color: #f2f2f2;
        font-size: 12px;
        padding: 8px 12px;
        position: absolute;
        top: 0;
      }
      
      /* The dots/bullets/indicators */
      .dot {
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
      }
      
      .active {
        background-color: #717171;
      }
      
      /* Fading animation */
      .fade {
        animation-name: fade;
        animation-duration: 1.5s;
      }
      
      @keyframes fade {
        from {opacity: .4} 
        to {opacity: 1}
      }
      
      /* On smaller screens, decrease text size */
      @media only screen and (max-width: 300px) {
        .text {font-size: 11px}
      }

      .border-w-shadow {
        border-style: outset;
        border-color: #6ea2af;
        box-shadow: 10px 10px lightblue;
      }

      /*PARALLAX CSS*/
      body, html {
        height: 100%;
      }
      
      .parallax {
        /* The image used */
        background-image: url('desktop-wallpaper-cute-doraemon-doraemon-and-shinchan.jpg');
      
        /* Full height */
        height: 100%; 
        opacity: 0.65;
      
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }

      .caption {
        position: relative;
        left: 0;
        top: 50%;
        width: 100%;
        text-align: left;
        color: #000;
      }

      .caption span.border {
        background-color: #047baa;
        color: white;
        padding: 18px;
        font-size: 25px;
        letter-spacing: 10px;
      }

      h3 {
          letter-spacing: 5px;
          text-transform: uppercase;
          font: 20px "Lato", sans-serif;
          color: white;
      }

      .parallax-2 {
        /* The image used */
        background-image: url('desktop-wallpaper-cute-doraemon-doraemon-and-shinchan.jpg');
      
        /* Full height */
        height: 100%; 
        opacity: 0.65;
      
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }